body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #3900d6 3px solid;
  opacity: 0.8;
}

.card {
  background: #3900d6;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #3900d6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas {
  background: #3900d6;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#create-head-section {
  background-color: #3900d6;
}

#share-section .fas {
  background-color: #fff;
  color: #333;
}

#main-footer {
  background-color: #3900d6;
}
